body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
  	-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;  
}

label {
<<<<<<< HEAD
  margin-right: 10px;
=======
    margin-right: 10px;
>>>>>>> 8a85ce39e905367b124c3b9a4e1adbd6bf1cc074
}