.header-color {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
}

.landing-img { 
    height: auto;
    width: 100%;
}

.tab-img { 
    height: 400px;
}

.banner-header {
text-align: center;
}
label {
    display: table-cell;
    padding: 200px 0 10px 0;
}

button {
    margin: 15px;
}


.App {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .App__Aside {
    width: 50%;
    background-color: #2F80ED;
  }
  
  .App__Form {
    width: 50%;
    background-color: #56CCF2;
    padding: 25px 40px;
    overflow: auto;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
  }